#form {
    padding: 200px;
}

#form h2 {
    text-align: center;
    padding-bottom: 40px;
}

#matriculaDiv {
    display: flex;
}

#matricula {
    pointer-events: none;
    cursor: default;
    width: 400px;
}

b {
    color: red;
}